*.pyc
MANIFEST
build/*
dist/*
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.pdfsync
*.synctex.gz
*.toc
*.swp
*.asv
*.nav
*.snm
*.gz
*.bib.bak
*.fls
*.m~
*.sublime*
.DS_Store
*puf.csv
*/OUTPUT/*
*/__pycache__/*
*.coverage*
*.pytest*
Icon?
.ipynb_checkpoints/*
*~$*
*Education.xlsx
*data/PopulationEstimates.xlsx
*PovertyEstimates.xlsx
*Unemployment.xlsx
*cc-est2022-agesex-all.csv
*cc-est2022-agesex.pdf
*cc-est2022-all.csv
*cc-est2022-alldata.pdf
*co-est2022-pop.xlsx
*kff_avg_medicaid_payout.csv

# Built Jupyter-book documentation
docs/book/_build

# Backup docs
pdfs/*
